# Pandas Exercise - Salaries Solution

Read data from csv file

In [1]:
import pandas as pd

In [3]:
sal = pd.read_csv("./Salaries.csv")

Check head of dataframe

In [4]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

Use info method to find out more information

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

What is average of BasePay

In [26]:
def str_to_zero(x):
    return x if type(x) == float else 0

In [27]:
sal['BasePay'] = sal['BasePay'].apply(str_to_zero)
sal['BasePay'].mean()

62853.56454727828

What is highest amount of OvertimePay

In [28]:
sal['OvertimePay'] = sal['OvertimePay'].apply(str_to_zero)
sal['OvertimePay'].max()

245131.88

What is the job title of JOSEPH DRISCOLL ?

In [31]:
joseph = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']
joseph['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [32]:
joseph['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

What is the name of highest paid person ?

In [46]:
# highest_paid = sal['TotalPayBenefits'].max()
# sal[sal['TotalPayBenefits'] == highest_paid]['EmployeeName']
sal.sort_values('TotalPayBenefits',ascending=False)['EmployeeName'].iloc[0]

'NATHANIEL FORD'

What is the name of lowest paid person ?

In [47]:
sal['TotalPayBenefits'].min()

-618.13

In [48]:
sal.sort_values('TotalPayBenefits')['EmployeeName'].iloc[0]

'Joe Lopez'

What is average BasePay of all employees per year (2011-2014) ?

In [60]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    53081.486331
Name: BasePay, dtype: float64

How many unique job titles are there ?

In [66]:
# len(sal['JobTitle'].unique())
sal['JobTitle'].nunique()

2159

Top 5 most common jobs

In [77]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

How many job titles were represented by only one person in 2013 ?

In [88]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

How many people have word Chief in their JobTitle ?

In [95]:
sum(sal['JobTitle'].apply(lambda x:1 if 'chief' in x.lower().split() else 0))

477