# Pandas - MissingData

In [1]:
import numpy as np
import pandas as pd

In [2]:
d = {
    'A':[1,2,np.nan],
    'B':[3,np.nan,np.nan],
    'C':[4,5,6]
}
df = pd.DataFrame(d)

In [3]:
df

     A    B  C
0  1.0  3.0  4
1  2.0  NaN  5
2  NaN  NaN  6

> #### Remove all columns hava NaN value

In [4]:
df.dropna(axis=1)

   C
0  4
1  5
2  6

> #### Remove all rows hava NaN value

In [5]:
df.dropna(axis=0)

     A    B  C
0  1.0  3.0  4

> #### Remove under **thresh**

In [6]:
df.dropna(thresh=2)

     A    B  C
0  1.0  3.0  4
1  2.0  NaN  5

> #### Fill all NaN by specified value

In [7]:
df.fillna(value='Filled')

        A       B  C
0       1       3  4
1       2  Filled  5
2  Filled  Filled  6

In [8]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64