# Pandas - Operations

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'col1':[1,2,3,4],
    'col2':[444,555,666,444],
    'col3':['abc','def','ghi','xyz']
}
df = pd.DataFrame(data)

In [3]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

> #### Select unique value

In [4]:
df['col2'].unique()

array([444, 555, 666])

In [5]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

> #### Apply a custom function to values

In [7]:
def double(x):
    return x*2

In [8]:
df['col2'].apply(double)

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

In [9]:
df['col1'].apply(lambda x:x*2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [10]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [11]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [12]:
df.index

RangeIndex(start=0, stop=4, step=1)

> #### Sort column

In [15]:
df.sort_values('col2')

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [18]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False